# COGS 108 - Final Project

# Overview
In this final project of Data science, we are trying to generate a recommendation system of movies for IMDB users with the respect of their historical ratings. At first, after obtaining the datasets about both film's final ratings and individual users' ratings, we would try to combine them together with movieID as the key for further comparisons. Next, by visualizing the collected data, we would study the correlation between individual as well as final ratings of films and film genres. At last, we would use the model we generate to recommend films for each individual user.

# Names
- Anthony Ostia
- Ramin Atrian
- Chuyang Xiao
- Yifeng Zhang
- Ian Nelson

# Group Members IDs
- A13903305
- A15691021
- A13722916
- A13820262
- A15738482

# Research Question
How to recommend films in their favorite genres to each individual IMDB user according to their historical ratings?

# Background 
Since the beginning of the 20th century, film has been an important recreation to human beings possessing both artistic and commercial significance. Moreover, in the Information Age, rather than being overwhelmed by the gigantic informative flow, film won unprecedented attention from the population with the aid of widespread accessibility to the Internet. Just like Hsu (2014) argued in his essay, in the era of Web 2.0, film critics are no longer privileges limited to professionals yet typical rights to common audiences as well, due to the introduction of film rating websites such as IMDB or Rotten Tomatoes: each audience could comment or grade films online and then share their evaluations and opinions to the public. Consequently, the data collected thereby is not only abundant in quantity, but also diverse in nature, including millions of users’ personal information as well as preference of films. Hence, considering it a perfect dataset to study users’ attributes to films, we would like to focus on the ratings on movie websites in this project.

As increasing audiences begin to consider online ratings as critical criteria to decide whether or  not to see a film, a number of data scientists struggle to explore the rating data, which has provided us with the direction of further research. In the research accomplished by Hsu (2014) focusing on predicting the movies user rating based on the IMDB attributes, by analyzing the ratings and critics of 31506 movies, they generated a mathematical model mimicking the manners of the preference of general IMDB users, and hence predicted the final rating of a newly coming movie via entering related parameters to it. Regardingly, we found that instead of being purely independent, the IMDB ratings of new films could be roughly predicted by past data. Furthermore, in Breuss’s research (2012), the personal information on users’ social media, including gender, hobby, or regular activities, was taken into account and therefore, predicted the IMDB movie ratings they might give, which inspires that individuals’ statistics could also be of concern. 

All in all, in this data science project, we will combine these two studies and step forward: we will study what kind of movies will a user like based on the historical ratings and review texts of that user on movies he/she has seen previously. From our perspective, this study is not only interesting but also quite applicable, could possibly promote the recommendation system in movie rating websites.

Reference:
1. Hsu, P. Y., Shen, Y. H., & Xie, X. A. (2014, October). Predicting movies user ratings with imdb attributes. In International Conference on Rough Sets and Knowledge Technology (pp. 444-453). Springer, Cham.
2. Oghina, A., Breuss, M., Tsagkias, M., & De Rijke, M. (2012, April). Predicting imdb movie ratings using social media. In European Conference on Information Retrieval (pp. 503-507). Springer, Berlin, Heidelberg.

# Hypothesis
Within this data science group project, we would like to develope a recommendation systems for the movie rating websites which involves to predict the users' preference in movie according to their rating history and then provide them with certain genre of movies that they favour. Hence, we generated a couple of hypothesises with the respect of this topic:
1. With the respect of the users, one would like to rate higher on the genres (higher than the average) he or she loves, which indicates his or her love. On the opposite, to the genres he or she dislikes, his or hers ratings would be much lower(lower than or equal to the average).
2. Moreover, if a user loves a certain genre of film, he or she tends to watch more this genre of films.
3. If a user loves a certain genre of film, this genre of film must exist among the films he or she rates the highest

# Datasets

Data on ratings comes from
https://www.kaggle.com/rounakbanik/the-movies-dataset/version/7#

This dataset contains over 200000000 ratings from 138493 users, containing the movieID they rates, the scores they give to each film, and the timestamps of the ratings.

Data about movies comes from
https://www.kaggle.com/grouplens/movielens-20m-dataset#tag.csv

This data contains the information of 27277 movies, including their movieID, title and genres.

# Setup
First and foremost, we would import the useful modules and packages.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Then, we would load in our datasets in csv with pandas method.

In [2]:
df_rating = pd.read_csv('ratings.csv')

In [3]:
df_rating

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
5              1     1968     4.0  1425942148
6              1     2762     4.5  1425941300
7              1     2918     5.0  1425941593
8              1     2959     4.0  1425941601
9              1     4226     4.0  1425942228
10             1     4878     5.0  1425941434
11             1     5577     5.0  1425941397
12             1    33794     4.0  1425942005
13             1    54503     3.5  1425941313
14             1    58559     4.0  1425942007
15             1    59315     5.0  1425941502
16             1    68358     5.0  1425941464
17             1    69844     5.0  1425942139
18             1    73017     5.0  1425942699
19             1    81834     5.0  1425942133
20             1    91500     2.5  1425942647
21             1    91542     5.0  1425942618
22             1    92439     5.0  1425941424
23             1    96821     5.0  1425941382
24             1    98809     0.5  1425942640
25             1    99114     4.0  1425941667
26             1   112552     5.0  1425941336
27             2        5     3.0   867039249
28             2       25     3.0   867039168
29             2       32     2.0   867039166
...          ...      ...     ...         ...
26024259  270896    41566     3.5  1257034128
26024260  270896    44191     5.0  1257031546
26024261  270896    44195     4.0  1257034427
26024262  270896    45499     3.0  1257034131
26024263  270896    45722     3.5  1257031715
26024264  270896    46578     4.5  1257034037
26024265  270896    48385     4.0  1257031939
26024266  270896    48394     5.0  1257031861
26024267  270896    48516     4.5  1257031526
26024268  270896    48774     5.0  1257032040
26024269  270896    48780     5.0  1257031830
26024270  270896    49272     4.0  1257031474
26024271  270896    49530     4.0  1257034436
26024272  270896    50872     5.0  1257034000
26024273  270896    50954     2.5  1257034179
26024274  270896    51255     4.5  1257033927
26024275  270896    51662     4.5  1257031928
26024276  270896    52973     3.5  1257034325
26024277  270896    53996     3.0  1257034282
26024278  270896    54001     4.0  1257034331
26024279  270896    54286     4.5  1257031701
26024280  270896    54503     4.0  1257033886
26024281  270896    55820     5.0  1257031660
26024282  270896    56174     3.5  1257034085
26024283  270896    56367     4.5  1257031529
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [4]:
df_movie = pd.read_csv('movie.csv',dtype = {'title':str, 'genres':str, 'movieId':int})

In [5]:
df_movie

,movieId,title,genres
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji,Adventure|Children|Fantasy
2,3,Grumpier Old Men,Comedy|Romance
3,4,Waiting to Exhale,Comedy|Drama|Romance
4,5,Father of the Bride Part II,Comedy
5,6,Heat,Action|Crime|Thriller
6,7,Sabrina,Comedy|Romance
7,8,Tom and Huck,Adventure|Children
8,9,Sudden Death,Action
9,10,GoldenEye,Action|Adventure|Thriller
10,11,"American President, The",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It,Comedy|Horror
12,13,Balto,Adventure|Animation|Children
13,14,Nixon,Drama
14,15,Cutthroat Island,Action|Adventure|Romance
15,16,Casino,Crime|Drama
16,17,Sense and Sensibility,Drama|Romance
17,18,Four Rooms,Comedy
18,19,Ace Ventura: When Nature Calls,Comedy
19,20,Money Train,Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty,Comedy|Crime|Thriller
21,22,Copycat,Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins,Action|Crime|Thriller
23,24,Powder,Drama|Sci-Fi
24,25,Leaving Las Vegas,Drama|Romance
25,26,Othello,Drama
26,27,Now and Then,Children|Drama
27,28,Persuasion,Drama|Romance
28,29,"City of Lost Children, The",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad,Crime|Drama
...,...,...,...
27248,131146,Werner - Volles Rooäää,Animation|Comedy
27249,131148,What A Man,Comedy|Romance
27250,131150,7 Dwarves: The Forest Is Not Enough,Comedy
27251,131152,The Fat Spy,Comedy
27252,131154,"Die Bademeister – Weiber, saufen, Leben retten",Comedy
27253,131156,Ants in the Pants 2,Comedy
27254,131158,"Manta, Manta",Comedy
27255,131160,Oscar and the Lady in Pink,Drama
27256,131162,Por un puñado de besos,Drama|Romance
27257,131164,Vietnam in HD,War
27258,131166,WWII IN HD,(no genres listed)
27259,131168,Phoenix,Drama
27260,131170,Parallels,Sci-Fi
27261,131172,Closed Curtain,(no genres listed)
27262,131174,Gentlemen,Drama|Romance|Thriller
27263,131176,A Second Chance,Drama
27264,131180,Dead Rising: Watchtower,Action|Horror|Thriller
27265,131231,Standby,Comedy|Romance
27266,131237,What Men Talk About,Comedy
27267,131239,Three Quarter Moon,Comedy|Drama
27268,131241,Ants in the Pants,Comedy|Romance
27269,131243,Werner - Gekotzt wird später,Animation|Comedy
27270,131248,Brother Bear 2,Adventure|Animation|Children|Comedy|Fantasy
27271,131250,No More School,Comedy
27272,131252,Forklift Driver Klaus: The First Day on the Job,Comedy|Horror
27273,131254,Kein Bund für's Leben,Comedy
27274,131256,"Feuer, Eis & Dosenbier",Comedy
27275,131258,The Pirates,Adventure
27276,131260,Rentun Ruusu,(no genres listed)
27277,131262,Innocence,Adventure|Fantasy|Horror

# Data Cleaning
First and foremost, before actually executing the data, we shall check the cleanness of the dataset we get. To begin with, we would clear and standardize the rating dataset.

Next, for the rating dataset, we would only keep three columns and remove the rest:
1. the userID (an integer)
2. the movieID of the movies they rate (an integer)
3. the scores users give to movies (a float)

In [6]:
df_rating = df_rating.drop(columns = ['timestamp'])

For the movie dataset, we shall firstly standardize it into three columns
1. the movieID (an integer)
2. the movie title (a string)
3. the movie genre (list)

In [7]:
df_movie

,movieId,title,genres
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji,Adventure|Children|Fantasy
2,3,Grumpier Old Men,Comedy|Romance
3,4,Waiting to Exhale,Comedy|Drama|Romance
4,5,Father of the Bride Part II,Comedy
5,6,Heat,Action|Crime|Thriller
6,7,Sabrina,Comedy|Romance
7,8,Tom and Huck,Adventure|Children
8,9,Sudden Death,Action
9,10,GoldenEye,Action|Adventure|Thriller
10,11,"American President, The",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It,Comedy|Horror
12,13,Balto,Adventure|Animation|Children
13,14,Nixon,Drama
14,15,Cutthroat Island,Action|Adventure|Romance
15,16,Casino,Crime|Drama
16,17,Sense and Sensibility,Drama|Romance
17,18,Four Rooms,Comedy
18,19,Ace Ventura: When Nature Calls,Comedy
19,20,Money Train,Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty,Comedy|Crime|Thriller
21,22,Copycat,Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins,Action|Crime|Thriller
23,24,Powder,Drama|Sci-Fi
24,25,Leaving Las Vegas,Drama|Romance
25,26,Othello,Drama
26,27,Now and Then,Children|Drama
27,28,Persuasion,Drama|Romance
28,29,"City of Lost Children, The",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad,Crime|Drama
...,...,...,...
27248,131146,Werner - Volles Rooäää,Animation|Comedy
27249,131148,What A Man,Comedy|Romance
27250,131150,7 Dwarves: The Forest Is Not Enough,Comedy
27251,131152,The Fat Spy,Comedy
27252,131154,"Die Bademeister – Weiber, saufen, Leben retten",Comedy
27253,131156,Ants in the Pants 2,Comedy
27254,131158,"Manta, Manta",Comedy
27255,131160,Oscar and the Lady in Pink,Drama
27256,131162,Por un puñado de besos,Drama|Romance
27257,131164,Vietnam in HD,War
27258,131166,WWII IN HD,(no genres listed)
27259,131168,Phoenix,Drama
27260,131170,Parallels,Sci-Fi
27261,131172,Closed Curtain,(no genres listed)
27262,131174,Gentlemen,Drama|Romance|Thriller
27263,131176,A Second Chance,Drama
27264,131180,Dead Rising: Watchtower,Action|Horror|Thriller
27265,131231,Standby,Comedy|Romance
27266,131237,What Men Talk About,Comedy
27267,131239,Three Quarter Moon,Comedy|Drama
27268,131241,Ants in the Pants,Comedy|Romance
27269,131243,Werner - Gekotzt wird später,Animation|Comedy
27270,131248,Brother Bear 2,Adventure|Animation|Children|Comedy|Fantasy
27271,131250,No More School,Comedy
27272,131252,Forklift Driver Klaus: The First Day on the Job,Comedy|Horror
27273,131254,Kein Bund für's Leben,Comedy
27274,131256,"Feuer, Eis & Dosenbier",Comedy
27275,131258,The Pirates,Adventure
27276,131260,Rentun Ruusu,(no genres listed)
27277,131262,Innocence,Adventure|Fantasy|Horror

Then, we shall check whether there are missing data in both datasets.
We check whether there are missing movieID, genre, movie title or IMDB average ratings in the movie datasets. If so, just remove such rows.

In [8]:
rating_to_drop = df_rating[df_rating.isnull().any(axis=1)]
movie_to_drop = df_movie[df_movie.isnull().any(axis=1)]

In [9]:
print(rating_to_drop)
print(movie_to_drop)

Empty DataFrame
Columns: [userId, movieId, rating]
Index: []
Empty DataFrame
Columns: [movieId, title, genres]
Index: []

Afterwards, some pre-processings are needed. To facilitate further visulizations, we may need to convert the original rating in the scale of 5 into the rating in the scale of 10.

In [10]:
# we change the rating from a scale of 5 to a scale of 10
df_rating['rating'] *= 2

Then, since the original ratings dataset is so large and we may not need such redundant data, in further predictive models, we would like to select smaller samples from it. Therefore, considering the users' behaviors would be consistent overall the rating dataframe, we create two subgroups from the original ratings data, one is for training and the other is for testing, in order to represent the general rating dataframe.

In [11]:
train = df_rating[df_rating['userId']<=2000]
# we would select the first 2000 users as our training set

Then, check whether following conditions appear in the rating datasets:
1. missing ratings
2. ratings on films whose movieID does not exist in the movie dataset(since we are going to link the movie and rating dataset with the movieID)
if such problems exist, please remove the problematic rating (but not the rest of the users' rating)

In [12]:
# drop the rows with missing movieIDs
rows_to_drop = []
for n in range(len(train)):
    if train['movieId'][n] not in df_movie['movieId']:
        rows_to_drop.append(n)

In [13]:
train = train.drop(rows_to_drop)

In [14]:
frames = [train[train['userId'] == i+1][-5:] for i in range(2000)]

In [15]:
test = pd.concat(frames)

In [16]:
todrop = test.index.values

In [17]:
train = train.drop(todrop)

Finally, we create a new column in the train dataframe called: average_score, and use the movieID as a reference to append the average rating after the user's rating.

In [ ]:
# since we do not have the average rating of each film in our dataset, we would need to calculate them by ourselves,
# and then append the calculated average ratings to the train dataframe

In [ ]:
df_movie.to_csv('moviedata.csv', encoding='utf-8', index=False)

In [ ]:
# calculate the average score of each movie based on the data in the rating dataset
average_ratings = []
for i in df_movie['movieId']:
    sum_rates = 0
    average = 0
    for r in df_rating[df_rating['movieId'] == i]['rating']:
        sum_rates += r
    average = sum_rates / (len(df_rating[df_rating['movieId'] == i])+1)
    average_ratings.append(average)
df_movie['average_rating'] = average_ratings

# READ THIS PART!!! To save time

In [ ]:
df_movie = pd.read_csv('moviedata.csv')

In [ ]:
df_movie

In [ ]:
average_ratings = []
for i in train['movieId']:
    average = 0
    for r in df_movie[df_movie['movieId'] == i]['average_rating']:
        average = r
    average_ratings.append(average)
train['average_score'] = average_ratings

In [ ]:
train

Same as the previous step, also append the genre of each rated film in the train dataframe as a new column called genre.

In [ ]:
genre = []
for i in train['movieId']:
    g = ""
    for val in df_movie[df_movie['movieId'] == i]['genres']:
        g = val
    genre.append(g)
train['genres'] = genre

Afterwards, create a new column called variance, to store the variance between the user's rating and average rating.

For instance, if in one row of the train dataframe, one user gives 8 to a film while the film is indeed 6.4, the variance in that row would be 1.6. And if the user gives a 5 to a film while the films is indeed 8.1, the variance would be -3.1.

In [ ]:
variances = []
for n in range(len(train)):
    usr_rate = train['rating'].iloc[n]
    avr_rate = train['average_score'].iloc[n]
    v = usr_rate - avr_rate
    variances.append(v)
train['variance'] = variances

In [ ]:
train

In [ ]:
train.to_csv('train.csv', encoding='utf-8', index=False)

# Also Read this!!!

In [ ]:
train = pd.read_csv('train.csv')

At this point, the train dataframe would have these columns for each rating:
1. userID (an integer)
2. movieID (an integer)
3. user's rating (an integer)
4. average rating (a float)
5. the genres of the film they rate (a list)
6. the variance (a float)

In [ ]:
train

Then, for our test dataframe, do the same thing to the test dataframe and make it have the six columns for further usages.

In [ ]:
# code here
# Anthony please write this part

In [49]:
average_ratings1 = []

for it1 in test['movieId']:
    sum_rates1 = 0
    average1 = 0
    for it2 in test[test['movieId'] == it1]['rating']:
        sum_rates1 += it2
    average1 = sum_rates1 / len(test[test['movieId'] == it1])
    average_ratings1.append(average1)
test['average_score'] = average_ratings1

In [44]:
test.head(5)

    userId  movieId  rating  average_score                         genres
7        1     2918    10.0       8.857143                         Comedy
8        1     2959     8.0       8.388889    Action|Crime|Drama|Thriller
9        1     4226     8.0       7.280000               Mystery|Thriller
10       1     4878    10.0       8.875000  Drama|Mystery|Sci-Fi|Thriller
11       1     5577    10.0      10.000000                   Comedy|Drama

In [50]:
average_ratings1 = []
for index, row in test.iterrows():
    sum_rates1 = 0
    average1 = 0
    first = row['movieId']
    for it in test[test['movieId'] == first]['rating']:
        sum_rates1 += it
    average1 = sum_rates1 / len(test[test['movieId'] == first])
    average_ratings1.append(average1)
test['average_score'] = average_ratings1

In [46]:
test.head(5)

    userId  movieId  rating  average_score                         genres
7        1     2918    10.0       8.857143                         Comedy
8        1     2959     8.0       8.388889    Action|Crime|Drama|Thriller
9        1     4226     8.0       7.280000               Mystery|Thriller
10       1     4878    10.0       8.875000  Drama|Mystery|Sci-Fi|Thriller
11       1     5577    10.0      10.000000                   Comedy|Drama

In [57]:
genre = []
types = ''

for it1 in test['movieId']:
    for it2 in df_movie[df_movie['movieId'] == it1]['genres']:
        types = it2
    genre.append(types)
test['genres'] = genre

In [58]:
test.head(25)

,userId,movieId,rating,average_score,genres
7,1,2918,10.0,8.857143,Comedy
8,1,2959,8.0,8.388889,Action|Crime|Drama|Thriller
9,1,4226,8.0,7.280000,Mystery|Thriller
10,1,4878,10.0,8.875000,Drama|Mystery|Sci-Fi|Thriller
11,1,5577,10.0,10.000000,Comedy|Drama
44,2,1210,8.0,7.936170,Action|Adventure|Sci-Fi
45,2,1233,8.0,8.000000,Action|Drama|War
46,2,1356,10.0,8.628571,Action|Adventure|Sci-Fi|Thriller
47,2,1475,6.0,6.000000,Romance
48,2,1552,4.0,6.200000,Action|Adventure|Thriller
54,3,1097,6.0,7.428571,Children|Drama|Sci-Fi
55,3,1270,6.0,7.300000,Adventure|Comedy|Sci-Fi
56,3,1968,6.0,8.333333,Comedy|Drama
57,3,3101,6.0,5.821429,Drama|Thriller
58,3,4474,6.0,6.000000,Comedy|Drama|Musical
116,4,4226,6.0,7.280000,Mystery|Thriller
117,4,4238,8.0,8.000000,Action|Crime|Mystery|Thriller
118,4,4848,6.0,7.375000,Crime|Drama|Film-Noir|Mystery|Thriller
119,4,4896,8.0,6.666667,Adventure|Children|Fantasy
120,4,5679,6.0,5.714286,Horror|Mystery|Thriller
142,5,3079,10.0,8.666667,Comedy|Drama|Romance
143,5,3114,8.0,7.571429,Adventure|Animation|Children|Comedy|Fantasy
144,5,3156,10.0,6.000000,Drama|Romance|Sci-Fi
145,5,3198,8.0,8.000000,Crime|Drama
146,5,3255,6.0,7.090909,Comedy|Drama

In [59]:
genre = []
types = ''

for index, row in test.iterrows():
    second = row['movieId']
    for it in df_movie[df_movie['movieId'] == second]['genres']:
        types = it
    genre.append(types)
test['genres'] = genre

In [60]:
test.head(25)

,userId,movieId,rating,average_score,genres
7,1,2918,10.0,8.857143,Comedy
8,1,2959,8.0,8.388889,Action|Crime|Drama|Thriller
9,1,4226,8.0,7.280000,Mystery|Thriller
10,1,4878,10.0,8.875000,Drama|Mystery|Sci-Fi|Thriller
11,1,5577,10.0,10.000000,Comedy|Drama
44,2,1210,8.0,7.936170,Action|Adventure|Sci-Fi
45,2,1233,8.0,8.000000,Action|Drama|War
46,2,1356,10.0,8.628571,Action|Adventure|Sci-Fi|Thriller
47,2,1475,6.0,6.000000,Romance
48,2,1552,4.0,6.200000,Action|Adventure|Thriller
54,3,1097,6.0,7.428571,Children|Drama|Sci-Fi
55,3,1270,6.0,7.300000,Adventure|Comedy|Sci-Fi
56,3,1968,6.0,8.333333,Comedy|Drama
57,3,3101,6.0,5.821429,Drama|Thriller
58,3,4474,6.0,6.000000,Comedy|Drama|Musical
116,4,4226,6.0,7.280000,Mystery|Thriller
117,4,4238,8.0,8.000000,Action|Crime|Mystery|Thriller
118,4,4848,6.0,7.375000,Crime|Drama|Film-Noir|Mystery|Thriller
119,4,4896,8.0,6.666667,Adventure|Children|Fantasy
120,4,5679,6.0,5.714286,Horror|Mystery|Thriller
142,5,3079,10.0,8.666667,Comedy|Drama|Romance
143,5,3114,8.0,7.571429,Adventure|Animation|Children|Comedy|Fantasy
144,5,3156,10.0,6.000000,Drama|Romance|Sci-Fi
145,5,3198,8.0,8.000000,Crime|Drama
146,5,3255,6.0,7.090909,Comedy|Drama

In [61]:
variances = []

for index, row in test.iterrows():
    usr_rate1 = row['rating']
    avr_rate1 = row['average_score']
    difference = usr_rate1 - avr_rate1
    variances.append(difference)
test['variance'] = variances

In [62]:
test

,userId,movieId,rating,average_score,genres,variance
7,1,2918,10.0,8.857143,Comedy,1.142857
8,1,2959,8.0,8.388889,Action|Crime|Drama|Thriller,-0.388889
9,1,4226,8.0,7.280000,Mystery|Thriller,0.720000
10,1,4878,10.0,8.875000,Drama|Mystery|Sci-Fi|Thriller,1.125000
11,1,5577,10.0,10.000000,Comedy|Drama,0.000000
44,2,1210,8.0,7.936170,Action|Adventure|Sci-Fi,0.063830
45,2,1233,8.0,8.000000,Action|Drama|War,0.000000
46,2,1356,10.0,8.628571,Action|Adventure|Sci-Fi|Thriller,1.371429
47,2,1475,6.0,6.000000,Romance,0.000000
48,2,1552,4.0,6.200000,Action|Adventure|Thriller,-2.200000
54,3,1097,6.0,7.428571,Children|Drama|Sci-Fi,-1.428571
55,3,1270,6.0,7.300000,Adventure|Comedy|Sci-Fi,-1.300000
56,3,1968,6.0,8.333333,Comedy|Drama,-2.333333
57,3,3101,6.0,5.821429,Drama|Thriller,0.178571
58,3,4474,6.0,6.000000,Comedy|Drama|Musical,0.000000
116,4,4226,6.0,7.280000,Mystery|Thriller,-1.280000
117,4,4238,8.0,8.000000,Action|Crime|Mystery|Thriller,0.000000
118,4,4848,6.0,7.375000,Crime|Drama|Film-Noir|Mystery|Thriller,-1.375000
119,4,4896,8.0,6.666667,Adventure|Children|Fantasy,1.333333
120,4,5679,6.0,5.714286,Horror|Mystery|Thriller,0.285714
142,5,3079,10.0,8.666667,Comedy|Drama|Romance,1.333333
143,5,3114,8.0,7.571429,Adventure|Animation|Children|Comedy|Fantasy,0.428571
144,5,3156,10.0,6.000000,Drama|Romance|Sci-Fi,4.000000
145,5,3198,8.0,8.000000,Crime|Drama,0.000000
146,5,3255,6.0,7.090909,Comedy|Drama,-1.090909
147,6,11,6.0,6.000000,Comedy|Drama|Romance,0.000000
148,6,1198,6.0,7.818182,Action|Adventure,-1.818182
149,6,2565,8.0,9.000000,Drama|Musical|Romance,-1.000000
150,6,2628,10.0,7.333333,Action|Adventure|Sci-Fi,2.666667
166,7,6934,4.0,6.875000,Action|Adventure|Sci-Fi|Thriller|IMAX,-2.875000
...,...,...,...,...,...,...
192067,1994,8984,7.0,6.966102,Action|Comedy|Crime|Thriller,0.033898
192068,1994,8985,3.0,5.352941,Action|Fantasy|Horror|Thriller,-2.352941
192069,1994,26603,9.0,9.000000,Fantasy|Horror|Sci-Fi|Thriller,0.000000
192159,1995,588,6.0,7.514286,Adventure|Animation|Children|Comedy|Musical,-1.514286
192160,1995,590,8.0,7.754717,Adventure|Drama|Western,0.245283
192161,1995,592,6.0,6.370968,Action|Crime|Thriller,-0.370968
192162,1995,780,6.0,7.306452,Action|Adventure|Sci-Fi|Thriller,-1.306452
192163,1995,1183,10.0,8.363636,Drama|Romance|War,1.636364
192216,1996,6807,10.0,7.875000,Comedy,2.125000
192217,1996,6936,4.0,5.000000,Children|Comedy|Fantasy,-1.000000
192218,1996,7451,7.0,7.500000,Comedy,-0.500000
192219,1996,8528,7.0,7.700000,Comedy,-0.700000
192220,1996,8781,7.0,7.000000,Thriller,0.000000
192359,1997,8368,7.0,7.682540,Adventure|Fantasy|IMAX,-0.682540
192360,1997,8528,7.0,7.700000,Comedy,-0.700000
192361,1997,8636,7.0,7.066667,Action|Adventure|Sci-Fi|IMAX,-0.066667
192362,1997,8874,7.0,8.063158,Comedy|Horror,-1.063158
192363,1997,26662,8.0,7.451613,Adventure|Animation|Children|Drama|Fantasy,0.548387
192465,1998,2688,7.0,7.500000,Crime|Drama|Mystery|Thriller,-0.500000
192466,1998,2986,6.0,5.714286,Action|Crime|Sci-Fi|Thriller,0.285714
192467,1998,3100,6.0,7.571429,Drama,-1.571429
192468,1998,3826,8.0,5.333333,Horror|Sci-Fi|Thriller,2.666667
192469,1998,3969,4.0,7.222222,Drama,-3.222222
192470,1999,318,10.0,8.500000,Crime|Drama,1.500000
192471,1999,1210,10.0,7.936170,Action|Adventure|Sci-Fi,2.063830
192555,2000,1387,8.0,6.888889,Action|Horror,1.111111
192556,2000,1395,6.0,6.000000,Comedy|Drama,0.000000
192557,2000,1396,6.0,6.000000,Action|Comedy|Crime|Drama|Sci-Fi,0.000000
192558,2000,2019,6.0,7.857143,Action|Adventure|Drama,-1.857143
192559,2000,5060,8.0,8.044444,Comedy|Drama|War,-0.044444

# Data Analysis & Results

# Data Visualization

##   Graph 1: The Average Rating of Each Genre in the Movie Dataframe

Utilizing the average-rating column in the df_movie dataset, create a bar graph to show the average rating of each genre.

In [ ]:
# code here

Evaluation:

## Graph 2: The Average Rating of Each Genre in the Train Dataframe

for each type of film that appears in the movie dataframe. If one film has more than one genre, please assume it belongs to all these genres.

Then, use the numpy.mean() method to calculate the average ratings of each genre of films. Then create a bar graph about this with:
1. x-axis: the film genres
2. y-axis: the average ratings

(if you have some better methods, please try so!)

In [ ]:
score_dict = {}
for index, row in train.iterrows():
    genres = row[4].split('|')
    for gen in genres:
        if gen in score_dict:
            score_dict[gen].append(row[3])
        else:
            score_dict[gen] = [row[3]]

In [ ]:
average_dict = {}
for key,value in score_dict.items():
    average_dict[key] = sum(value)/len(value)

In [ ]:
genres = []
scores = []
for key, value in average_dict.items():
    genres.append(key)
    scores.append(value)

In [ ]:
plt.bar(genres, height= scores)
plt.rcParams["figure.figsize"] = [50, 10]

##### Evaluation:

Consisting with this graph, we could obtain some information about the train dataset we are going to deal with in the coming sections. First and foremost, we could see in the train dataframe, there is no significant variance in the average ratings between the genres within the train dataset, with all their average ratings concentrating around 7 with few spreading in the range between 7 and 8.

Moreover, if we focus on the average rating of each genre, we could see that among the 2000 users we selected, the film noir tends to have the highest average ratings (about 8.4). Moreover, the horror films tend to have the lowest average ratings (about 6.5).

From this graph, we could also learn that compare with the graph about the overall movie ratings:

## Graph 3: The Number of Films in Each Genre

Please create a bar chart, using df_movie as the data, to represent the number of film in each genre

In [ ]:
# code here

Evaluation:

## Graph 4: The Number of Films that Users in Train Dataframe Rate

Afterwards, we would still stick to the train dataframe. Since one of our predictive factor would be the number of films each user has rated, we may show the distribution of number of films users view.

Then we would also create a dictionary, with userID as the key, and if the user with ID = 5 rates totally 10 films, the key would be 5 and the value would be 10. With this dictionary, we could then generate a histogram about the distribution of the # of film users watches.

1. x - axis: the number of films viewed (0~10, 10~20, 20~30 .......)
2. y - axis: the number of users viewed that number of films

In [ ]:
films_dict = {}
for index, row in train.iterrows():
    key = row['userId'] 
    old_value = films_dict.get(key)
    
    if old_value == None:
        films_dict[key] = 1
        a = 1
    else:
        a = a + 1
        films_dict[key] = a

In [ ]:
#plt.hist(films_dict.values(), bins = 250)
sns.distplot(list(films_dict.values()), bins=250)
f1 = plt.gcf()

the evaluation of this graph:

Chuyang would write this part

# Graph 4

The fourth graph would still stick to the train dataset. This time we would do something pretty similar to the graph one, which displays the average rating of each genre in the train dataframe we select. We would then use it to compare with the graph 1 to show the consistency of the data in the sample we select

In [ ]:
# code here
# Ian please write this part

the evaluation of the graph 4:

Chuyang would write this part

# Graph 5

This graph would focus on the variance column in the train dataframe. This time, we would create a bar graph representing the variance in each genre of film, in order to see the range of variance for each genre of film.
1. x - axis: the genres
2. y - axis: the variance of ratings of each genre of films

Hence, we could see how each genre of film has its scores spreads out.

In [ ]:
variances_dict = {}
for index, row in train.iterrows():
    key = row['genres']
    value = variances_dict.get(key)
    if value == None:
        value = row['variance']
        variances_dict[key] = value

In [ ]:
genres = []
variances = []
for key, value in variances_dict.items():
    genres.append(key)
    variances.append(value)
plt.bar(genres, height=variances)

The evaluation of graph 5:

Chuyang would write this part

# Cosine Similarity

In [ ]:
import math
from collections import Counter
def counter_cosine_similarity(c1, c2):
    terms = set(c1).union(c2)
    dotprod = sum(c1.get(k, 0) * c2.get(k, 0) for k in terms)
    magA = math.sqrt(sum(c1.get(k, 0)**2 for k in terms))
    magB = math.sqrt(sum(c2.get(k, 0)**2 for k in terms))
    if magA * magB == 0:
        return 0
    return dotprod / (magA * magB)

In [ ]:
test.head(5)

In [ ]:
train.head()

In [ ]:
users = {}
for index,row in train.iterrows():
    if row[0] in users:
        users[row[0]].extend(row[4].split('|'))
    else:
        users[row[0]] = row[4].split('|')

In [ ]:
for key in users:
    users[key] = list(set(users[key]))

In [ ]:
answer = list(test.apply(lambda row: row.variance >= 0, axis=1))

In [ ]:
pred = []
for index,row in test.iterrows():
    if row[0] not in users:
        pred.append(False)
    else:
        counterA = Counter(users[row[0]])
        counterB = Counter(row[4].split('|'))
        res = counter_cosine_similarity(counterA,counterB)
        if res > 0.3:
            pred.append(True)
        else:
            pred.append(False)

In [ ]:
count = 0
for n in range(len(answer)):
    if answer[n] == pred[n]:
        count += 1

In [ ]:
count/len(answer)

# Ethics and Privacy

# Conclusion and Discussion